<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
    <title>AngularJS Tutorial</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="../styles/app.css"/>
</head>
<body>
<div class="container">
    <div ng-controller="EventController">
        {{event.name}}<br/>
        {{event.date}}<br/>
        {{event.time}}

        Name: <input type="text" ng-model="name"/>{{name}}
    </div>
</div>
<script src="/WEB-INF/scripts/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/WEB-INF/scripts/app.js"></script>
<script src="/WEB-INF/scripts/vendor/angular/angular.min.js"></script>
<script src="/WEB-INF/scripts/vendor/jquery/jquery-1.10.2.min.js"></script>
<script src="/WEB-INF/scripts/controllers/EventController.js"></script>
</body>
</html>